tensorflow==2.17.0
numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
tifffile==2024.7.24
scikit-image==0.24.0
opencv-python==4.10.0.84
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.4

keras==3.15.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
ml-dtypes==0.4.1
h5py==3.16.0
protobuf==4.25.9
grpcio==1.81.1
opt-einsum==3.4.0
gast==0.7.0
google-pasta==0.2.0
astunparse==1.6.3
flatbuffers==25.12.19
libclang==18.1.1
termcolor==3.3.0
wrapt==2.2.2
absl-py==2.4.0
optree==0.19.1
namex==0.1.0


pillow==12.3.0
imageio==2.37.3
networkx==3.6.1
lazy-loader==0.5
contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
kiwisolver==1.5.0
pyparsing==3.3.2
 
joblib==1.5.3
threadpoolctl==3.6.0

python-dateutil==2.9.0.post0
pytz==2026.2
tzdata==2026.2

requests==2.34.2
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
urllib3==2.7.0
markdown==3.10.2
werkzeug==3.1.8
markupsafe==3.0.3

rich==15.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
pygments==2.20.0

six==1.17.0
packaging==26.2
typing-extensions==4.16.0
setuptools==82.0.1
wheel==0.47.0
colorama==0.4.6
 